
*
!PerfectWeek/
!PerfectWeek/PerfectWeek/AddGoalCollectionViewCell.swift
!PerfectWeek/PerfectWeek/AddGoalFrequencyViewController.swift
!PerfectWeek/PerfectWeek/InformationHeader.swift
!PerfectWeek/PerfectWeek/AddGoalFrequencyViewModel.swift
!PerfectWeek/PerfectWeek/InformationHeaderObserver.swift
!PerfectWeek/PerfectWeek/AddGoalNameViewController.swift
!PerfectWeek/PerfectWeek/InformationViewController.swift
!PerfectWeek/PerfectWeek/AddGoalNameViewModel.swift
!PerfectWeek/PerfectWeek/InformationViewModel.swift
!PerfectWeek/PerfectWeek/Button.swift
!PerfectWeek/PerfectWeek/NotificationManager.swift
!PerfectWeek/PerfectWeek/ColorLibrary.swift
!PerfectWeek/PerfectWeek/NotificationParser.swift
!PerfectWeek/PerfectWeek/Constraints.swift
!PerfectWeek/PerfectWeek/EditGoalViewController.swift
!PerfectWeek/PerfectWeek/ProgressView.swift
!PerfectWeek/PerfectWeek/EditGoalViewModel.swift
!PerfectWeek/PerfectWeek/SettingsViewController.swift
!PerfectWeek/PerfectWeek/GoalCollectionViewCell.swift
!PerfectWeek/PerfectWeek/SettingsViewModel.swift
!PerfectWeek/PerfectWeek/GoalDetailViewController.swift
!PerfectWeek/PerfectWeek/GoalDetailViewModel.swift
!PerfectWeek/PerfectWeek/StatsLibrary.swift
!PerfectWeek/PerfectWeek/GoalLibrary.swift
!PerfectWeek/PerfectWeek/StatsViewController.swift
!PerfectWeek/PerfectWeek/GoalsCollectionViewHeader.swift
!PerfectWeek/PerfectWeek/StatsViewModel.swift
!PerfectWeek/PerfectWeek/GoalsViewController.swift
!PerfectWeek/PerfectWeek/Stepper.swift
!PerfectWeek/PerfectWeek/GoalsViewModel.swift
!PerfectWeek/PerfectWeek/TextField.swift
